
@font-face{
    font-family bpg_arial_caps
    src url(../fonts/bpg-arial-caps-webfont.woff)
}
@font-face{
    font-family bpg_arial
    src url(../fonts/bpg-arial-webfont.woff)
}
@font-face{
    font-family dejavu
    src url(../fonts/dejavu-sans-webfont.woff)
}
